<!--h1>{{ticket.findExist.subject}}</h1-->

<div class="card ticket">
    <div class="card-header">
     Ticket Information
    </div>
    <!--div class="card-body">
        <h5 class="card-title">Subject</h5>
        <p class="card-text">{{ticket.findExist.subject}}</p>
      <h5 class="card-title">Status</h5>
      <p class="card-text">{{ticket.findExist.status}}</p>
      <h5 class="card-title">Last Update</h5>
      <p class="card-text">{{ticket.findExist.updated_at}}</p>
      <h5 class="card-title">Description</h5>
      <p class="card-text">{{ticket.findExist.description}}</p>
      <a href="http://localhost:4200/"  class="btn btn-secondary">Back All Tickets</a>
    </div-->
  </div>
