/*Import fonts custom*/
@font-face{
    font-family: "yanone";
    src: url('fonts/yanone.ttf');
}
@font-face{
    font-family: "finger";
    src: url('fonts/finger.ttf');
}
/*Generales*/
*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: "yanone", Arial, Helvetica;
    font-size:20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}

.clearFix{
    float: none;
    clear: both;
}


header{
    display: block;
    width: 100%;
    height: 90px;
    background: #e3f0d2;
    position: fixed;
    text-transform: uppercase;
}

header ul{
    display: block;
    width: 750px;
    height: inherit;
    margin: 0px auto;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color:black;
	transition: all 300ms;
}	

header a:hover,
.actived{
	background: rgba(0,0,0,0.8);
	color:white;
}

/*Main Conteiner*/

#content{
	min-height: 600px;
	height: auto;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left:1px solid #b7b7b7;
	border-right:1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 120px;
}

/*Footer*/
footer{
	width: 75%;
	margin: 0px auto;
    padding-top: 15px;
    text-align: center;
	color: rgba(0, 0, 0, 0.5);
}


/*Home*/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

#title h1{
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

/*Form Seccion*/

.container{
	padding: 50px;
	padding-top: 10px;
}

.container .image{
	float: left;
	width: 47%;
}

.container .image img{
	width: 100%;
}

.container .data{
	float: left;
	width: 48%;
	margin-left:30px;
}

.container h2{
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

form{
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
	display: block;
	font-size: 17px;
	padding: 10px;
	margin-top: 15px; 
	color:white;
	background: rgba(53, 103, 164, 1);
	border: 1px solid rgba(13, 67, 133, 1);
	cursor: pointer;
}

.button-edit,
.button-delete{
	width: 20%;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

.button-edit{
	background: orange;
	border: none;
}

.button-delete{
	background: red;
	border: none;
}

form button:hover,
form input[type="submit"]:hover{
	background: rgba(53, 103, 164, 0.8);
	border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 13px;
	padding: 3px;
	background: red;
	color:white;
	margin-left: 5px;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: green; 
	color: white;
}

.message a{
	color: white;
}

.failed{
	background: red;
	color: white;
}

/*Job*/

.ticket{
	width:70%; 
    margin-left:15%; 
	margin-right:15%;
	text-align: justify;
	font-size: 22px;
	padding: 10px;
}


#menu{
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

#menu > ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: cen;
    text-align: center;

    height: 100%;
    list-style: none;
}

.ticket a{
	text-decoration: none;
	color: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
